    header {
        font-size: 50px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 30px;
    }

    #top {
        margin: 5px 100px 5px;
    }

    .block1 {
        text-align: center;
        font-size: 30px;
        padding: 50px 5px 70px;
    }

    section {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 1100px;
        margin-left: 100px;
        margin-right: 100px;
        min-height: 450px;
    }

    #block2 {
        border: 2px solid #3b50b2;
        border-radius: 8%;
        width: 450px;
        margin-left: 160px;
        text-align: center;
        box-shadow: 0px -12px 8px #3b50b2;
    }

    #block3 {
        border: 2px solid #42b883;
        border-radius: 8%;
        width: 450px;
        margin-left: 110px;
        box-shadow: 0px -12px 8px #42b883;
        text-align: center;
    }

    .con1 {
        padding: 70px;
        font-size: 30px;
    }

    .con2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: grey;
        padding-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .con3 {
        padding-right: 60px;
        padding-left: 70px;
        margin-bottom: 50px;
        text-align: center;
        color: white;
    }

    #high {
        background-color: #3b50b2;
        font-size: 20px;
        padding: 15px 55px 15px;
        border-radius: 50px;
    }

    .con4 {
        color: #3b50b2;
        font-size: 25px;
        font-weight: bold;
    }

    #high2 {
        background-color: #42b883;
        font-size: 20px;
        padding: 15px 55px 15px;
        border-radius: 50px;
    }

    .con5 {
        color: #42b883;
        font-size: 25px;
        font-weight: bold;
    }